{% extends "gstbillingapp/print_base.html" %}


{% block content %}
<style>
    @media print {
        .table th.row-bg{
            background-color: rgb(179, 179, 179) !important;
            print-color-adjust: exact; 
            border-color: solid black 1px !important;
        }

        
    }

    /* @media print {
        .table th {
            background-color: red;
            color: black !important;
        }
    } */
</style>

<div style="max-width: 1000px; margin: auto;">
    <br>
    <p style="text-align: right;"><b>Original For Recipient</b></p>
    <center>
        <h1><strong>Tax Invoice</strong></h1>
    </center>
    <hr style="border-top: 1px solid black;">

    <table style="border-spacing: 20px 0;" >
        <tr>
            <td>
                <b>Name and Address of Supplier</b>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>{{user_profile.business_title}}</b>
            </td>
            <td>
                <b>GST Invoice No : {{invoice.invoice_number}}</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>{{user_profile.business_address}}</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </td>
            <td>
                <b>GST Invoice Date : {{invoice.invoice_date}}</b>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Jharkhand ,India -->
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>GSTIN :{{user_profile.business_gst}}</b>
            </td>
            <td>
                <strong>Place of Supply</strong>
            </td>
        </tr>
        <tr>
            <td>
                <br>
            </td>
            <td>
                <b>WEST BOKARO,Jharkhand</b>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <!-- <tr><td></td></tr> -->
        <!-- <tr><td></td></tr> -->
        <!-- <tr><td></td></tr> -->
        <tr>
            <td>
                <b>Name and Address of Recipient</b>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>{{ invoice_data.customer_name }}</b>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>{{ invoice_data.customer_address }}</b>
            </td>
            <td>
                <b>Receipt Voucher No</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>GSTIN No : {{ invoice_data.customer_gst }}</b>
            </td>
            <td>
                <b>(For advance payment only)</b>
            </td>
        </tr>
        <tr>
            <td> <br>
            </td>
        </tr>
        <!-- <tr><td></td></tr> -->
        <tr>
            <td>
                <b>ARC No : {{ invoice_data.arc_number }} </b>
            </td>
            <td>
                <b>Item No :  {{ invoice_data.item_number }} </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Challan No : {{ invoice_data.challan_number }} </b>
            </td>
            <td>
                <b>Order Number :  {{invoice_data.order_number}} </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Item Description : {{ invoice_data.item_description }} </b>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>Service From : {{ invoice_data.service_from}} </b>
            </td>
            <td>
                <b>Service To : {{ invoice_data.service_to }} </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Department : {{ invoice_data.department }} </b>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>Conf No : {{ invoice_data.conf_number }} </b>
            </td>
            <td>
                <b>SES No : {{ invoice_data.ses_number }} </b>
            </td>
        </tr>
    </table>
    <br>
    <br>
    
    <div class="table-responsive-sm">
        <table class= table-invoice" border="1px" style="width:100%;height:100%; border-color: black;">
            <thead>
                <tr style="border-color: black; background-color: rgb(171, 170, 170);">
                    <!-- <th class="text-center">#</th> -->
                    <th class="text-left row-bg">Item No</th>
                    <th class="text-center row-bg">SAC</th>
                    <th class="text-center row-bg">Service No</th>
                    <th class="text-center row-bg">Service Description</th>
                    <th class="text-right row-bg">Quantity</th>
                    <th class="text-center row-bg">UOM</th>
                    <th class="text-right row-bg">Rate ({{ currency }})</th>
                    <!-- <th class="text-right">Taxable Amount ({{ currency }})</th>
                    <th class="text-right">GST (%)</th>
                    {% if invoice_data.igstcheck %}
                        <th class="text-right">IGST ({{ currency }})</th>
                    {% else %}
                        <th class="text-right">CGST ({{ currency }})</th>
                        <th class="text-right">SGST ({{ currency }})</th>
                    {% endif %} -->
                    <th class="text-right row-bg">Total Amount ({{ currency }})</th>

                </tr>
            </thead>
            <tbody>
                {% for item in invoice_data.items %}
                <tr style=" border-color: black; ">
                    <!-- <td class="text-center">{{ forloop.counter }}</td> -->
                    <td class="text-left strong"><b>{{ item.invoice_item }}</b></td>
                    <td class="text-center"><b>{{ item.invoice_sac }}</b></td>
                    <td class="text-center"><b>{{ item.invoice_service_number }}</b></td>
                    <td class="text-center"><b>{{ item.invoice_description }}</b></td>
                    <td class="text-right"><b>{{ item.invoice_qty }}</b></td>
                    <td class="text-center"><b>{{ item.invoice_unit }}</b></td>
                    <td class="text-right"><b>{{ item.invoice_rate_without_gst|floatformat:2 }}</b></td>
                    <!-- <td class="text-right">{{ item.invoice_amt_without_gst|floatformat:2 }}</td>
                    <td class="text-right">{{ item.invoice_gst_percentage }}</td>
                    {% if invoice_data.igstcheck %}
                        <td class="text-right">{{ item.invoice_amt_igst|floatformat:2 }}</td>
                    {% else %}
                        <td class="text-right">{{ item.invoice_amt_cgst|floatformat:2 }}</td>
                        <td class="text-right">{{ item.invoice_amt_sgst|floatformat:2 }}</td>
                    {% endif %} -->
                    <td class="text-right"><b>{{ item.invoice_amt_with_gst|floatformat:2 }}</b></td>
                </tr>
                {% endfor %}

                <tr id="table-invoice-total-row">
                    {% if invoice_data.igstcheck %}
                        <td colspan="5" ></td>
                        <td class="text-right" colspan="2"><b>Grand Total: </b></td>
                        <!-- <td class="text-right">{{ currency }} {{ invoice_data.invoice_total_amt_without_gst|floatformat:2 }}</td> -->
                        <!-- <td class="text-right"></td> -->
                        <!-- <td class="text-right">{{ currency }} {{invoice_data.invoice_total_amt_igst|floatformat:2 }}</td> -->
                    {% else %}
                        <td colspan="5" ></td>
                        <td class="text-right" colspan="2" ><b>Grand Total: </b></td>
                        <!-- <td class="text-right">{{ currency }} {{ invoice_data.invoice_total_amt_without_gst|floatformat:2 }}</td> -->
                        <!-- <td class="text-right"></td> -->
                        <!-- <td class="text-right">{{ currency }} {{invoice_data.invoice_total_amt_cgst|floatformat:2 }}</td>
                        <td class="text-right">{{ currency }} {{invoice_data.invoice_total_amt_sgst|floatformat:2 }}</td> -->
                    {% endif %}
                    <td class="text-right"><strong>{{ currency }} {{ invoice_data.invoice_total_amt_with_gst|floatformat:2 }}</strong></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-6">
                <div>
                    &nbsp;
                </div>
                <div>
                    <strong>Whether Tax payable on Reverse Charge </strong>
                </div>
                <div>
                    No
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <b>Total Invoice Value (in words)</b>
                </div>
                <div style="color: gray;">
                   <b>{{ total_in_words }} only</b> 
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <b>Supplier Signature</b>
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <b>Date</b>
                </div>

            </div>



            <div class="col-sm-6 col-md-6 col-lg-6 col-6">
                
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>Surcharge/ Discount</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>0</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>Taxable Value</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>{{ invoice_data.invoice_total_amt_without_gst|floatformat:2 }}</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>CGST</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR &nbsp; &nbsp; 9%</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>{{ invoice_data.invoice_total_amt_cgst|floatformat:2 }}</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>SGST/UTGST</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR &nbsp; &nbsp; 9%</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>{{ invoice_data.invoice_total_amt_sgst|floatformat:2 }}</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>IGST</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR &nbsp; &nbsp; 0%</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>{{ invoice_data.invoice_total_amt_igst|floatformat:2 }}</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>Total Amount payable</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>&nbsp;</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>{{invoice_data.invoice_total_amt_with_gst|floatformat:2 }}</b></div>
                </div>
                <div>
                    &nbsp;
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>Tax Subject to Reverse Charge</b></div>
                    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-4"><b>INR &nbsp; &nbsp; 9%</b></div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-4 text-right"><b>{{ invoice_data.invoice_total_amt_cgst|floatformat:2 }}</b></div> -->
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>CGST</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR &nbsp; &nbsp; %</b></div>
                    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-4 text-right"><b>{{ invoice_data.invoice_total_amt_cgst|floatformat:2 }}</b></div> -->
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>SGST/UTGST</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR &nbsp; &nbsp; %</b></div>
                    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-4 text-right"><b>{{ invoice_data.invoice_total_amt_sgst|floatformat:2 }}</b></div> -->
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-6"><b>IGST</b></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-3"><b>INR &nbsp; &nbsp; %</b></div>
                    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-4 text-right"><b>{{ invoice_data.invoice_total_amt_igst|floatformat:2 }}</b></div> -->
                </div>

            </div>



        </div>

        <table class="table-invoice"  border="1px" style="width:100%;height:100%;">
            <thead>
                <tr >
                    <!-- <th class="text-center">#</th> -->
                    <th class="text-left" colspan="3"><center>For Recipient Use Only</center></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td class="text-center">{{ forloop.counter }}</td> style=" border-color: black;  -->
                    <td class="text-left "><b>Received By (Name/ P. No.)</b></td>
                    <td class="text-center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                    <td class="text-left"><b>Signature and Date</b></td>
                </tr>
            </tbody>
        </table>

            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-4">
                    <div>
                        <b>Bill recieve no</b>
                    </div>
                    <div>
                        <b>TSL system reference no</b>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-4">
                    <div><b>:</b></div>
                    <div><b>:</b><b>{{ invoice_data.tsl_number }}</b></div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-4">
                    <div>
                        <b>Signature For TSL </b>
                    </div>
                    <div>
                        <b>Date</b>
                    </div>
                </div>
            </div>
    </div>

    
    <!-- <table border="2px">
        <tr style="padding: 5px;">
            <th>Item No</th>
            <th>SAC</th>
            <th>Service No</th>
            <th>Service Description</th>
            <th>Quantity</th>
            <th>UOM</th>
            <th>Rate</th>
            <th>Total Amount</th>
        </tr>
        {% for item in invoice_data.items %}
        <tr style="padding: 2px;">
            <td>{{ item.invoice_item }}</td>
            <td>{{ item.invoice_sac }}</td>
            <td>{{ item.invoice_service_number }}</td>
            <td>{{ item.invoice_description }}</center>
            </td>
            <td>{{ item.invoice_qty }}</td>
            <td>{{ item.invoice_unit }}</td>
            <td>{{ item.invoice_rate_without_gst|floatformat:2 }}</td>
            <td>{{ item.invoice_amt_with_gst|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table> -->
    <!-- <br> -->
    <!-- <br> -->
    <!-- <table class="card-body">
        <tr>
            <td>
            </td>
            <td>
                Surcharge/ Discount INR 0
            </td>
        </tr>
        <tr>
            <td>
                <b>Whether Tax payable on Reverse Charge </b>
            </td>
            <td>
                <b>Taxable Value INR </b> {{ currency }} {{ invoice_data.invoice_total_amt_without_gst|floatformat:2 }}
            </td>
        </tr>
        <tr>
            <td>
                No
            </td>
            <td>
                <b>CGST INR </b>{{ currency }} {{ invoice_data.invoice_total_amt_cgst|floatformat:2 }}
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <b>SGST/UTGST INR </b> {{ currency }} {{ invoice_data.invoice_total_amt_sgst|floatformat:2 }}
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <b>IGST INR </b>{{ currency }} {{ invoice_data.invoice_total_amt_igst|floatformat:2 }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Total Invoice Value (in words)</b>
            </td>
            <td>
                <b>Total Amount payable </b>{{ currency }} {{invoice_data.invoice_total_amt_with_gst|floatformat:2 }}
            </td>
        </tr>
        <tr>
            <td>
                {{ total_in_words }} only &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>



    </table> -->
</div>

<button onclick="window.print();" class="btn btn-primary d-print-none">Print Invoice</button>



{% endblock %}